.about .views-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;


}

/*the below may need to be on like a main body page so that way all the word fields are set the same.*/

.about .views-row .views-field-field-dynamic {

	/*width: 18.750em;*/
	/*padding: 1.5em;*/
	/*margin-top:.5em;*/
}

.about .views-row .views-field-field-image {
	/*margin: .5em;*/
}

.views-row .views-field-field-image {
	align-self: center;
}

/*the next three control the heading colors of the content.*/

.about .views-row:nth-child(1) h2 {
	color:rgb(255,184,106);
	margin-top: .5em;
}

.about .views-row:nth-child(2) h2 {
	color: rgb(255,147,173);
		margin-top: .5em;

}

.about .views-row:nth-child(3)  h2 {
	color:rgb(190,163,204);
		margin-top: .5em;

}

/*the next three control the layout of the view fields.*/

.about .views-row:nth-child(1){

}

.about .views-row:nth-child(2){
	flex-direction: row-reverse;
}

.about .views-row:nth-child(3){
	
}


/*the next three control the margins for the textual content. this is needed
because one of the views-row is reversed. so just saying margin left for all of them won't work. */

.about .views-row:nth-child(1) .views-field-field-dynamic  {
	margin-left: 3em;
	padding-left: 8em;
}

.about .views-row:nth-child(2) .views-field-field-dynamic  {
	margin-right: 3em;
	padding-right:8em;
	/*background-color: lime;*/
}

.about .views-row:nth-child(3) .views-field-field-dynamic  {
	margin-left: 3em;
	padding-left: 8em;
	/*background-color: pink;*/
}

.about .views-row:nth-child(1) .views-field-field-image img {
	margin-right: 2em;
}
.about .views-row:nth-child(2) .views-field-field-image img {
	margin-left: 2em;
}
.about .views-row:nth-child(3) .views-field-field-image img {
	margin-right: 2em;
}