.layout-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.layout-container > * {
	max-width: 75em;
	align-self: center;
	font-family: 'Source Sans Pro', sans-serif;
/*	https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro
*/}

body {
	background-color: #000;
	zoom:1;
	font-size: 18px;
}

main {
	background-color: #fff;
	padding-bottom: 2em;
width: 100%;
}

/*remember to do something with disabling mobile zoom.*/
